// @media desktop {
//   .container {
//     width: 100%;
//     margin: 0 auto;
//     min-width: 1000px;
//   }
// }
// @media tablet {
//   .container {
//     width: 100%;
//     margin: 0 auto;
//     min-width: 500px;
//   }
// }
// @media mobile {
//   .container {
//     width: 100%;
//     margin: 0 auto;
//     min-width: 100px;
//   }
// }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
}
